.contenedor-siguenos-imagenes{
    width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2em;
}

@media only screen and (min-width: 768px) {
    .contenedor-siguenos-imagenes{
       flex-direction: row;
       align-items: center;
       justify-content: center;
       gap: 0em;
    }
}

@media only screen and (min-width: 1024px) {
    .contenedor-siguenos-imagenes{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1em;
     }
}