@media only screen and (min-width: 768px) {
    .contenedor-siguenos-imagenes{
        width: 100%;
       padding-left: 1.8em;
    }
}

@media only screen and (min-width: 1024px) {
    .contenedor-siguenos-imagenes{
       padding-left: 0;
    }
}