.slider-boton-next{
height: 35px;
align-self: center;
border-radius: 50%;
color: black !important;
}

.slider-boton-previo{
height: 35px;
align-self: center;
border-radius: 50%;
color: black !important;
}

.slider-tablet-imagen{
    display: none;
}

.slider-tablet-precio{
    display: none;
}

.slider-desktop-imagen{
    display: none;
}

.slider-desktop-precio{
    display: none;
}
@media only screen and (min-width: 768px) {
    .slider-tablet-imagen{
        display: block;
    }
    
    .slider-tablet-precio{
        display: block;
    }
    
 
  }


  @media only screen and (min-width: 1024px) {

    .slider-desktop-imagen{
        display: block;
        width: 220px;
    }
    
    .slider-desktop-precio{
        display: block;
    }
    
    .slider-tablet-imagen{
        width: 220px;
    }

    .slider-celu-imagen{
        width: 220px;
    }
  }