.container-footer {
    width: 100%;
    display: flex;
    flex-direction: column;

  }

  .contenedor-footer-1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }


  .contenedor-footer-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }


  .contenedor-footer-3{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }


  a{
    text-decoration: none;
  }
