.contenedor-imagen-descripcion{
background-color: aliceblue;
display:inline-block;
position:relative;
width: 100%
}


.contenedor-imagen-descripcion p{
    position: absolute;
   bottom:7em;
    left: 2em;
 font-size: 10px;
    }
    


    .imagen-descripcion-imagen{
width:100%
    }

    @media only screen and (min-width: 768px) {

        .contenedor-imagen-descripcion p{
           
           bottom:7em;
            left: 2em;
         font-size: 15px;
            }

            .imagen-descripcion-imagen{
                height: 600px ;
                    }
                

    }

    @media only screen and (min-width: 1024px) {
        .contenedor-imagen-descripcion p{
           
            bottom:5em;
             left: 2em;
          font-size: 20px;
             }
 
             .imagen-descripcion-imagen{
                 height: 650px ;
                     }
    }