.titulos-nombre{
    font-weight: 400 !important;
    padding: 5px!important;
    letter-spacing: 0px !important;
    font-size: 20px !important;
    font-weight: 300 !important;
    color: #393939;
    margin-top: 0;
    margin-bottom: 0;
}

.contenedor-titulo-boton{
display: flex;
flex-direction: row;
justify-content: space-between !important;
padding: 0 1em 0 1em;

}

.titulos-boton-parrafo{
    font-size: 15px;
}

.boton-ver-mas{
width: 35%;
}

@media only screen and (min-width: 768px) {
    .titulos-nombre{
        font-size: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .titulos-nombre{
        font-size: 25px;
    }

    @media only screen and (min-width: 1200px) {
        .titulos-nombre{
            font-size: 30px;
        }
        .titulos-boton-parrafo{
            font: 20px;
        }
    }
}