.titulos-nombre{
    margin-top: 10px;
    font-size: 15px;
}

@media only screen and (min-width: 768px) {
    .titulos-nombre{
        font-size: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .titulos-nombre{
        font-size: 25px;
    }
}