@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
}

body{
    font-family: 'Montserrat' !important;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-weight: 100;
    font-style: normal;
    color: #696969;
    position: relative;
    line-height: 1.75;
}



h1, h2, h3, h4, h5, h6 {
    font-family: 'Jost', sans-serif !important;
}

body p{
    font-size: 14.5px;
    font-family: 'Jost', sans-serif !important;
}

li {
    list-style: none;
}


a{
    text-decoration: none;
    color: black;
  }